[submodule "notirux-frontend"]
	path = notirux-frontend
	url = https://github.com/mdao032/notirux-frontend.git
[submodule "notirux-backend"]
	path = notirux-backend
	url = https://github.com/mdao032/notirux-backend.git
